<div class="d-flex flex-column container d-sm-none information-containers">
  <h6>What's happening</h6>
  <div>
    <small>Programming-Trending</small>
    <p>#MongoVsSequelize</p>
    <small>97.5K tweets</small>
  </div>
  <div>
    <small>Entertainment-Trending</small>
    <p>#StarWars</p>
    <small>97.5K tweets</small>
  </div>
  <div>
    <small>News-Trending</small>
    <p>#LifeInMars</p>
    <small>97.5K tweets</small>
  </div>
</div>
<div class="d-flex flex-column container d-sm-none information-containers">
  <h6>Who to follow?</h6>
  <div class="d-flex">
    <img src="" alt="Pic" />
    <div>
      <p>HackAcademy</p>
      <small>@HackAcademyDev</small>
    </div>
    <button class="btn follow-button">Follow</button>
  </div>
  <div class="d-flex">
    <img src="" alt="Pic" />
    <div>
      <p>Javascript</p>
      <small>@Javascript</small>
    </div>
    <button class="btn follow-button">Follow</button>
  </div>
  <div class="d-flex">
    <img src="" alt="Pic" />
    <div>
      <p>MongoDB</p>
      <small>@MongoDB</small>
    </div>
    <button class="btn follow-button">Follow</button>
  </div>
  <div class="d-flex">
    <img src="" alt="Pic" />
    <div>
      <p>Node.js</p>
      <small>@nodejs</small>
    </div>
    <button class="btn follow-button">Follow</button>
  </div>
  <div class="d-flex">
    <img src="" alt="Pic" />
    <div>
      <p>MDN Web Docs</p>
      <small>@MozDevNet</small>
    </div>
    <button class="btn follow-button">Follow</button>
  </div>
</div>


