<div class="container d-flex flex-column">
  <i class="fa-brands fa-twitter"></i>
  <a href="/"><i class="fa-solid fa-house"></i> Home</a>
  <a href="/profile/<%= user.username %>"
    ><i class="fa-regular fa-user"></i> Profile</a
  >
  <button class="tweet-button-menu">Tweet</button>
</div>
<script
  src="https://kit.fontawesome.com/9895568d5a.js"
  crossorigin="anonymous"
></script>
