<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2 class="home-title">Home</h2>
      <div class="form-floating d-flex">
        <img
          src="/img/profile.svg"
          class="profile-picture"
          alt="profile-picture"
        />
        <textarea
          class="form-control"
          placeholder="Whats happening?"
          id="floatingTextarea2"
          class="textarea"
          style="height: 100px"
        ></textarea>
        <button type="submit" class="tweet-button">Tweet</button>
      </div>
    </div>

    <style>
      .home-title {
        margin-top: 20px;
      }

      .textarea {
        border-style: none;
        position: absolute;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }

      .profile-picture {
        margin-bottom: 130px;
        margin-right: 15px;
        background-color: rgb(180, 180, 180);
        padding: 10px;
        border-radius: 80px;
      }

      .tweet-button {
        position: absolute;
        width: 76px;
        height: 37px;
        left: 1210px;
        top: 60px;
        background: #1d9bf0;
        border: none;
        border-radius: 45px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
      }
    </style>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
