<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Sign up</title>
  </head>
  <body>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="overflow: hidden">
              <div class="row g-0">
                <div id="divIzq" class="col-md-6 col-lg-7 d-none d-md-flex">
                  <img id="logoTwitter" src="../img/twitter.png.png" alt="" />
                  <p id="welcome">Hi! Welcome to Twitter Clone 👋</p>
                </div>
                <div class="col-md-6 col-lg-5 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form>
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="h1 fw-bold mb-0">Sing up</span>
                      </div>
                      <h6
                        class="fw-normal mb-3 pb-3"
                        style="letter-spacing: 1px"
                      >
                        Create and account and star using Twitter
                      </h6>
                      <!------------------ NOMBRE  ------------------------------------------------------------------------------------->
                      <div class="form-outline mb-4">
                        <input
                          placeholder="First name"
                          name="firstName"
                          type="text"
                          id="firstNameId"
                          class="form-control form-control-lg"
                          required
                        />
                      </div>
                      <!------------------ APELLIDO  ------------------------------------------------------------------------------------->
                      <div class="form-outline mb-4">
                        <input
                          placeholder="Last name"
                          name="lastName"
                          type="text"
                          id="lastNameId"
                          class="form-control form-control-lg"
                          required
                        />
                      </div>
                      <!------------------ MAIL  ------------------------------------------------------------------------------------->
                      <div class="form-outline mb-4">
                        <input
                          placeholder="Email"
                          name="email"
                          type="email"
                          id="emailId"
                          class="form-control form-control-lg"
                          required
                        />
                      </div>
                      <!------------------ Username  ------------------------------------------------------------------------------------->
                      <div class="form-outline mb-4">
                        <input
                          placeholder="Username"
                          name="userName"
                          type="text"
                          id="userNameId"
                          class="form-control form-control-lg"
                          required
                        />
                      </div>
                      <!------------------ IMG ------------------------------------------------------------------------------------->
                      <div class="form-outline mb-4">
                        <input
                          placeholder="Choose file..."
                          class="form-control"
                          id="image"
                          name="image"
                          type="file"
                          required
                        />
                      </div>
                      <!------------------ PASSWORD ------------------------------------------------------------------------------------->
                      <div class="form-outline mb-4">
                        <input
                          placeholder="Password"
                          name="password"
                          type="password"
                          id="passwordId"
                          class="form-control form-control-lg"
                          required
                        />
                      </div>
                      <div class="form-outline mb-4">
                        <input
                          placeholder="Repeat Password"
                          name="repeatPassword"
                          type="password"
                          id="repeatPasswordId"
                          class="form-control form-control-lg"
                          required
                        />
                      </div>
                      <!------------------ BUTTON ------------------------------------------------------------------------------------->
                      <div class="pt-1 mb-4">
                        <div class="d-grid gap-2">
                          <button
                            id="buttonSignUp"
                            class="btn btn-primary border-radius 20%"
                            type="button"
                          >
                            Sign up
                          </button>
                        </div>
                      </div>
                      <!------------------  ------------------------------------------------------------------------------------->
                      <p class="SignIn mb-5 pb-lg-2" style="color: #040404">
                        Already have an account?
                        <a href="/login" style="color: #040404">Sign in</a>
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
