.tweet-button-menu {
  background-color: #1d9bf0;
  border-radius: 2rem;
}

.follow-button {
  background-color: #1d9bf0;
  border-radius: 1rem;
}
small {
  color: #647788;
  font-family: "Inter";
  font-style: normal;
}
.information-containers {
  background-color: #f7f9f9;
  border-radius: 1rem;
}
