.sidebar {
  width: fit-content;
}

.tweet-button-menu {
  width: fit-content;
  background-color: #1d9bf0;
  border-radius: 2rem;
}

.follow-button {
  background-color: #1d9bf0;
  border-radius: 1rem;
}
small {
  color: #647788;
  font-family: "Inter";
  font-style: normal;
}
.information-containers {
  background-color: #f7f9f9;
  border-radius: 1rem;
}

/* -------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.public-body {
  background-color: #0c476f;
  height: 100vh;
}

:root {
  margin: 0;
  padding: 0;
}

.h1 fw-bold mb-0 {
  font-family: Inter;
  font-style: Semi-Bold;
}

#divIzq {
  background: #1d9bf0;
  /* border-radius: 15px 0px 0px 15px; */
}

#buttonSignUp {
  width: 100%;
  height: 47px;
  top: 789px;
  background: #1d9bf0;
  border-radius: 45px;
}

.SignIn {
  text-align: center;
}

#welcome {
  padding-top: 50rem;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

#logoTwitter {
  padding-top: 3rem;
  padding-left: 3rem;
  height: 7rem;
  width: 7rem;
}

.card {
  border-radius: 1rem;
  border-color: #0c476f;
}

#welcomeHey {
  padding-bottom: 1rem;
  padding-top: 50rem;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.4rem;
}

.tweet-container {
  border: solid 1px #eaeaea;
}
.tweet-inner-container {
  margin-left: 10px;
}
.profile-container {
  margin-left: 10px;
  margin-right: 10px;
}

.home-title {
  margin-top: 20px;
}

.textarea {
  width: 100%;
  border-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.profile-picture {
  margin-bottom: 130px;
  margin-right: 15px;
}

.tweet-button {
  background: #1d9bf0;
  border: none;
  margin-top: 12px;
  border-radius: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
#profile-follow {
  margin-top: 1rem;
}
#profile-header {
  height: 10rem;
  background-color: #1d9bf0;
  position: static;
  z-index: 0;
}
#profile-image {
  border: solid 3px white;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  top: 150px;
  left: 10px;
}
.profile-info {
  margin-top: 7rem;
}
