.card {
    border-radius: 1rem;
    border-color: #0c476f;
  }

  #logoTwitter {
    padding-top: 3rem;
    padding-left: 3rem;
    height: 7rem;
    width: 7rem;
  }

  #divIzq {
    background: #1d9bf0;
    /* border-radius: 15px 0px 0px 15px; */
  }

  #welcomeHey {
    padding-bottom: 1rem;
    padding-top: 50rem;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.4rem;
  }

  #buttonSignUp {
    width: 100%;
    height: 47px;
    top: 789px;
    background: #1d9bf0;
    border-radius: 45px;
  }

  .SignIn {
    text-align: center;
  }
