.span-menu {
    margin-left: 1rem;
  }

  .tweet-button-menu {
    background: #1d9bf0;
    border: none;
    padding: 5px 18px 5px 18px;
    margin-top: 12px;
    border-radius: 45px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }

  a{
    color: black;
  }