<link rel="stylesheet" href="/css/style.css" />

<div
  class="container d-flex flex-column justify-content-between col-2 mt-4"
>
  <div
    class="d-flex flex-column justify-content-center justify-content-md-start"
  >
    <i class="fa-brands fa-twitter"></i>
    <div class="d-flex">
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <span class="span-menu d-none d-md-block">Home</span>
    </div>
    <div class="d-flex">
      <a href="/profile/<%= user.username %>"
        ><i class="fa-regular fa-user"></i
      ></a>
      <span class="span-menu d-none d-md-block">Profile</span>
    </div>
    <button class="d-sm-block d-md-none d-lg-none">
      <img src="/img/write.svg" alt="" />
    </button>
    <button class="d-none d-md-block d-lg-block tweet-button-menu">
      Tweet
    </button>
  </div>
  <a href="/logout">Log out <% user.username %></a>
  <script
    src="https://kit.fontawesome.com/9895568d5a.js"
    crossorigin="anonymous"
  ></script>
</div>
